// (C) RootiCo
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat:400,700&display=swap");
$primary-font: "Lato", Arial, sans-serif;
$secondary-font: "Montserrat", sans-serif;

* {
    font-family: $primary-font;
}

body {
    padding: 0;
    margin: 0;
}


.button {
    
    font-family: $primary-font;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;

    width: 204px;
    height: 55px;

    &--blue {
        background-color: rgb(54, 149, 255);
        color: rgb(255, 255, 255);
    }


    &--small {
        width: 112px;
        height: 30px;
        color: rgb(25, 66, 119);
        line-height: 1.364;

    }


}

.Try_Demo_Button_kopia_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 2000px;
  height: 4051px;
  z-index: 153;
}
.Accept {
  font-size: 22px;
  font-family: "Lato";
  font-weight: bold;
  text-align: center;
  -moz-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
  -webkit-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
  -ms-transform: matrix( 0.54901960784314,0,0,0.54545454545455,0,0);
  position: absolute;
  left: 1166.144px;
  top: 51.082px;
  z-index: 152;
}
.Prostokąt_zaokrąglony_1 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1142px;
  top: 22px;
 
  z-index: 151;
}
